{% extends 'base/dashboardbase.html' %}
{% block content %}
{% load static %}
<style>
  #cancel{
    color: black;
  }
  #cancel:hover{
    color: white;
  }

</style>
<div style="height: 800px; width:100%; " >
 <div class="col-md-12">
   <div class="row">
     <button type="button" class="btn btn-primary active"> 
      <i class="fa fa-tachometer" aria-hidden="true"></i> 
      <a href="/customer/dashboard" style=" color: white; text-decoration: none">
     Dashboard </a></button>
     <button type="button" class="btn btn-primary active" style="margin-left: 10px;">
      <a href="/customer " style=" color: white; text-decoration: none">           
        <i class="fa fa-home" aria-hidden="true"></i> Home </a>
      </button>
   </div>
 </div> 
<div class="row">
<div class="col-md-8 offset-md-2" style="margin-top: 50px">
    <h1 style="color: grey; font-family: Passion One;text-align: center;"> STATUS OF BOOKED CARS</h1>

    <table class="table table-dark">
  <thead>
    <tr style="background-color:#0817bd">
      <th scope="col">Car Number</th>
        <th scope="col">Service Center </th>
       <th scope="col">Booked For</th>
         <th scope="col">Booking Date</th>
         <th scope="col">estimated Cost</th>
          <th scope="col">actual Cost</th>
         <th scope="col">Descrtiption</th>
         <th scope="col">Booking Status</th>
        <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
                  {% for car in cars %}
    <tr style="background-color: #ced4cd; color: #000">
         <th scope="row">{{ car.vehicle_no }}</th>
         <th scope="row">{{ car.carservicecenter.name }}</th>
         <th scope="row">{{ car.bookedfor }}</th>
         <th scope="row">{{ car.bookdate}} </th>
         <th scope="row">{{ car.estimatedcost }}</th>
         <th scope="row">{{ car.actualcost }}</th>
         <th scope="row">{{ car.description }}</th>
         <th scope="row">{{ car.servicestatus }}</th>
         <th scope="row">
      <button type="button" class="btn btn-danger">
       <a href="/customer/cancelbyownercar/{{car.id}}" id="cancel" style="color: white"><b> Cancel Booking   </b>  </a>
      </button>
          
        </th>


    </tr>
  {% endfor %}

  </tbody>
</table>


 </div>
 </div>
</div>
<script>
$(document).ready(function(){
  $('.form').submit(funtion(){
    alert('login successfully')
  })
})
</script>

{% endblock %}