{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div style="background-color: ;">
 <div class="row" style="margin-top: 1px;" > 
   <div class="col-md-6 offset-md-3" style="background-color: #5574c2"> 
   <div style="box-shadow:10px ; padding:50px; border:1px  border-radius: 35px; solid #aaa" > 
     <h3 class="text-center" style=" font-family:Alfa Slab One; color: white;"> CUSTOMER REGISTRATION <i class="fa fa-registered" aria-hidden="true"></i></h3>
     <form method="post" class="register" style="color: white; font-size: 20px"> 
         {% csrf_token  %}
         {{form.as_p}}
      <input type="submit" class="btn btn-success" style="float: right" name="submit" value="Register">
    </form>
   </div>
  </div>
 </div> 
</div>
<script> 
$(document).ready(function(){
  $('.register').submit(funtion(){
    alert('register successfully')
  })
})
</script>
{% endblock%}