{% load static %}
<style>
.about{
 color: white;
   }	



</style>
 <div class="row" style="margin-top: 100px; padding: 50px; ">
<div class="col-md-12" > 
<div class="jumbotron" style=" background-color:#000066">
  <!-- <h1 class="display-4 text-center" >Project by : Deepak Rawat(IITS) </h1> -->
  <div class="container-fluid">
  <div class="row" style="background-color: #000066">
    <div class="col-sm-4" > 
    <h2 class="about">  Website by:  <h2>
    <h3 class="about"> Deepak Rawat (CEO) </h3>
    <p class="about"> contact: 9630135566  <br>
                      email: drawat138@gmail.com <br>
                      Location:<br> lig-96 A, Sargan takies, Bhopal
    </p>
     </div>
    <div class="col-sm-4">
    <h3 class="about"> About website:</h3>
    <p class="about"> It is one of the best online services website.
        Vehicle service system is easy, trustable and 
        transparent service which gives full quality of work and 
        service by registered service centers. We take care of your 
        vehicle , we take responsibility of your vehicle to pick and 
        drop in limited time period. 
     </p>	
     </div>
    <div class="col-sm-4">
       <h3 class="about">Links </h3>
        <p class="about"> -service centers </p>
        <p class="about"> -customer </p>	
        <p class="about"> -car register </p>
        <p class="about"> -register  </p>
        <p class="about"> -login </p>
        <p class="about"> -login </p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>