{% load static %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>   
     
 <style> 

element.style {}    
  #social-icon{
	   color: white;
               }
 #social-icon:hover{
    	color:grey;
              }
    #top-bar-wrap {
        color: #fff;
}
     #top-bar-wrap {
    border-bottom: 1px solid #eee;
    font-size: .923em;
}

</style>
<div class="row">      
 <div class="col-md-12" align="center" style="background-color: #1a1a1a">
   <div id="top-bar-wrap" class="clr">
    <div id="top-bar" class="clr container">
  	  <div style="height:30px; 
                  padding: 5px; 
                  text-align: left;
                  font-family: Black Ops One;
                  font-weight:  900">

          <h1 class="display-5"> VEHICLE SERVICE CENTER</h1>
      </div>
   
<div id="top-bar-social" class="clr top-bar-right social-style-none" style="padding-top: 20px;">
<ul id="top-bar-social-list" class="wpex-clr">

<a href="https://twitter.com/DeepakR33511883" title="Twitter" class="btn btn-social-icon btn-twitter">
   <span class="fa fa-twitter" id='social-icon'></span>
</a>

 
 <a href="https://www.facebook.com/deepak.rawat.777" class="btn btn-social-icon btn-facebook"  title="Facebook"  target="_blank"> <span class="fa fa-facebook" id='social-icon'></span>
 </a>

<a href="https://www.pinterest.com" class="btn btn-social-icon btn-pinterest" title="Pinterest" target="_blank">           <span class="fa fa-pinterest" id='social-icon'></span>
</a>
  
<a href="https://www.instagram.com" title="Instagram" target="_blank" class="btn btn-social-icon btn-instagram">  <span class="fa fa-instagram" id='social-icon'></span>
</a>
   
  
   <a href="https://www.linkedin.com" title="LinkedIn"target="_blank" class="btn btn-social-icon btn-linkedin">    <span class="fa fa-linkedin" id='social-icon'> </span>
   </a>
    
    <a href="https://www.youtube.com" title="Youtube" target="_blank" class="btn btn-social-icon btn-youtube">    <span class="fa fa-youtube" id='social-icon'> </span>
    </a>
   
    <a href="https://github.com" title="Github" target="_blank" class="btn btn-social-icon btn-github">         <span class="fa fa-github" id='social-icon'> </span>
    </a> 
   </ul>
  </div>
</div>
</div>
                      <!-- end -->
    </div>
 </div>


