{% load static %}
      <!-- <div class="jumbotron"> -->
     <!-- social media links -->
 <style> 
    
    
span{
	color: white;
     font-size: 15px;
   }
    
#top-bar-wrap {
    color: #fff;
    border-bottom: 1px solid #eee;
    font-size: .923em;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 ticons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>

<div class="row">      
   	  
 <div class="col-md-12" align="center" style="background-color:#001a33;">
   <div id="top-bar-wrap" class="clr">
    <div id="top-bar" class="clr container">
  	  
      <div style="height:16px;  text-align: left;">
          <h1 class="display-5" style=" font-family:Black Ops One; font-weight: 900; font-size: 55px; "> Service Center </h1>
      </div>

 <div id="top-bar-social" class="clr top-bar-right social-style-none">
<ul id="top-bar-social-list" class="wpex-clr">

<a href="https://twitter.com/DeepakR33511883" title="Twitter" class="btn btn-social-icon btn-twitter">
   <span class="fa fa-twitter"></span>
</a>
 
 <a href="https://www.facebook.com/deepak.rawat.777" class="btn btn-social-icon btn-facebook"  title="Facebook"  target="_blank"> <span class="fa fa-facebook"></span>
 </a>

<a href="https://www.pinterest.com" class="btn btn-social-icon btn-pinterest" title="Pinterest" target="_blank">  <span class="fa fa-pinterest"></span>
</a>
  
<a href="https://www.instagram.com" title="Instagram" target="_blank" class="btn btn-social-icon btn-instagram">  <span class="fa fa-instagram"></span>
</a>
   
  
   <a href="https://www.linkedin.com" title="LinkedIn"target="_blank" class="btn btn-social-icon btn-linkedin">    <span class="fa fa-linkedin"> </span>
   </a>
    
    <a href="https://www.youtube.com" title="Youtube" target="_blank" class="btn btn-social-icon btn-youtube">    <span class="fa fa-youtube"> </span>
    </a>
   
    <a href="https://github.com" title="Github" target="_blank" class="btn btn-social-icon btn-github">         <span class="ticon ticon-github"> </span>
    </a> 
   </ul>
  </div>
 </div>
</div>
                      <!-- end -->
    </div>
 </div>


