<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    {% include 'base/css.html' %}

    <title> Service Center </title>
  </head>
  <body>
    <div class="container-fluid">
    
    {% include 'base/header_serviceCenter.html' %}   
    {% include 'base/servicenav.html' %} 
       {% block content %}
 

       {% endblock %}   
    {% include 'base/footer.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include 'base/js.html' %} 

  </div>   
  </body>
</html>