{% extends 'base/servicebase.html' %}
{% block content %}
{% load static  %}
<style>
.h2{
 color:#535ce0;
 font-family:Merienda One;
 font-weight:400; 
 font-size: 40px;
 margin-bottom: 30px;
 margin-top: 10px;
 text-align: center;
 padding-top: 10px;
 }	

.form{
  width: 500px;
  font-family:Fondamento; 
  font-weight:400;
  font-size: 22px;
  margin-left: 150px;
  padding-top: 10px;
}
.form-box{
  border: ridge;
  height: 300px;
  background-color:#f3f2fa;

}
</style>
<div class="row" style="background-color: ">
  <div class="col-md-6" style="  border-color:#000; border:ridge;">
   <h2 class="h2"> Sign in</h2>
   <div class="form-box"> 
    <form method="post" class="form" style="width: 500px;">
      {% csrf_token  %}
      {{form.as_p}}
    <input type="submit" class="btn btn-primary btn-outline-success btn-lg btn-block" style="color: white; font-weight: solid; font-size: 20px;" name="submit" value="login">
  </form>
 </div>
</div>
<div class="col-md-6" style="background-color: #000; border: ridge;border-color: #000;" >
<img src="{% static 'images/loginbike.gif'%}">

</div>


</div>
{% endblock%}